#maincontainer {
    min-width: 840px;
}
.btn-success {
    box-shadow: green 0px 0px 30px;
}

.progress .bar {
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
    transition: width 1s ease;
}
.btn:hover {
    background-color: #545454;

}

.btn-danger:hover {
    background-color: #ff5b00;
    box-shadow: #e8d500 0 0 10px;
}

.btn-primary:hover {
    background-color: #3076ff;
    box-shadow: #479aff 0 0 10px;
}

.btn-success:hover {
    background-color: #1aff00;
}

.btn.loading {
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,
    color-stop(.25, rgba(0, 0, 0, .10)),
    color-stop(.25, transparent),
    color-stop(.5, transparent),
    color-stop(.5, rgba(0, 0, 0, .10)),
    color-stop(.75, rgba(0, 0, 0, .10)),
    color-stop(.75, transparent),
    to(transparent));
    background-image:
        -moz-linear-gradient(45deg,
        rgba(0, 0, 0, .10) 25%,
        transparent 25%,
        transparent 50%, rgba(0, 0, 0, .10) 50%,
        rgba(0, 0, 0, .10) 75%,
        transparent 75%, transparent
        );
    background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -webkit-background-size: 50px 50px;
    -webkit-animation: animate-stripes 2s linear infinite;
    box-shadow: #0aff00 0px 0px 5px;
    position:relative;
    z-index: 10;
}

@-webkit-keyframes animate-stripes {
    from {
        background-position: 0 0;
    }
    to {
       background-position: -50px 0;
    }
}


input[type=checkbox] {
    visibility: hidden;
}
/* SQUARED THREE */
.squaredThree {
    width: 20px;
    margin: auto;
    position: relative;
}

.squaredThree label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    border-radius: 4px;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

    background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
    background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
    background: -o-linear-gradient(top, #222 0%, #45484d 100%);
    background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
    background: linear-gradient(top, #222 0%, #45484d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredThree label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squaredThree label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.squaredThree input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.btn {
    -webkit-transition-duration: 0.5s;
    -webkit-transition-property: all ;
}

.collapsable {
    display: inline-block;
    overflow: hidden;
    height: 0;
    transition: height 1s;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -o-transition: height 1s;
}
.collapsable.showMe {
    height: 100px;
}

.wave-enter-setup, .wave-leave-setup {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
}

.wave-enter-setup {
    position:absolute;
    left:100%;
}

.wave-enter-start {
    left:0;
}

.wave-leave-setup {
    position:absolute;
    left:0;
}

.wave-leave-start {
    left:-500px;
}

.custom-enter-setup,
.custom-leave-setup,
.custom-move-setup {
    -webkit-transition: 1s linear all;
    -moz-transition: 1s linear all;
    -o-transition: 1s linear all;
    transition: 1s linear all;
    position:relative;
}

.custom-enter-setup {
    left:-10px;
    opacity:0;
}
.custom-enter-setup.custom-enter-start {
    left:0;
    opacity:1;
}

.custom-leave-setup {
    left:0;
    opacity:1;
}
.custom-leave-setup.custom-leave-start {
    left:-10px;
    opacity:0;
}

.custom-move-setup {
    opacity:0.5;
}
.custom-move-setup.custom-move-start {
    opacity:1;
}

#loginbox {
    width: 30%;
    height: 150px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    margin: auto;
    /*overflow: auto;*/
    background: url('../images/lock.png') 20px 20px no-repeat;
}

td {
    padding-top:0px !important;
    padding-bottom:0px !important;
}

td #details {
    padding-top:0px !important;
    padding-bottom:0px !important;
}

h4 {margin:3px}

#details span {
    margin:10px;

}